.guides-slider [type="button"] {
    font-size: 0;
    background: #FFF;
    width: 33px;
    height: 33px;
    border-radius: 33px;
}

.guides-slider .slick-prev.slick-arrow {
    position: absolute;
    top: 0;
    left: -100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cg transform='rotate(180 6.5 6.5)'%3E%3Cpath d='M3 6.49998H10M10 6.49998L6.5 3M10 6.49998L6.5 10' stroke='%23182026' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center center;
}


.guides-slider .slick-next.slick-arrow {
    position: absolute;
    top: 0;
    left: -60px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M3 6.49998H10M10 6.49998L6.5 3M10 6.49998L6.5 10' stroke='%23182026' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center center;
}

.guide-hero-slider [type="button"] {
    font-size: 0;
    background: rgba(255, 255, 255, 0.08);
    width: 33px;
    height: 33px;
    border-radius: 33px;
}

.guide-hero-slider .slick-prev.slick-arrow {
    position: absolute;
    top: -54px;
    right: 105px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cg transform='rotate(180 6.5 6.5)'%3E%3Cpath d='M3 6.49998H10M10 6.49998L6.5 3M10 6.49998L6.5 10' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center center;
}


.guide-hero-slider .slick-next.slick-arrow {
    position: absolute;
    top: -54px;
    right: 60px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M3 6.49998H10M10 6.49998L6.5 3M10 6.49998L6.5 10' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    padding-right: 20px;
}


select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
@media (max-width: 991px) {
    .guides-slider .slick-prev.slick-arrow {
        left: inherit;
        right: 40px;
        top: -46px;
    }
    .guides-slider .slick-next.slick-arrow{
        left: inherit;
        right: 0;
        top: -46px;
    }

    .guide-hero-slider .slick-prev.slick-arrow {right: 50px;}
    .guide-hero-slider .slick-next.slick-arrow{right: 10px;}
}
@media (max-width: 767px){
    .guide-hero-slider .slick-next.slick-arrow, .guide-hero-slider .slick-prev.slick-arrow{display: none}
}
.slick-slider .slick-track {padding: 5px 0 0;}